pipeline/pipeline_bronze_to_silver_to_gold.json
{
	"name": "pipeline_bronze_to_silver_to_gold",
	"properties": {
		"activities": [
			{
				"name": "Lookup_notebook_paths",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "dspaths",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach_path",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup_notebook_paths",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup_notebook_paths').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "bronze_to_silver_to_gold_notebook",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": {
									"value": "@{item().path}",
									"type": "Expression"
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_DB",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"annotations": []
	}
}